security:
    providers:
        main:
            entity: { class: App\Entity\User, property: email }
    encoders:
           App\Entity\User:
               algorithm: sha512
               iterations: 9616
               encode_as_base64: true
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        login:
            pattern: ^/user/login$
            security: false
        main:
            anonymous: true
            form_login:
                login_path: user/login
                check_path: user/login
            logout:
                path: /user/logout
                target: /user/login
    access_control:
        - { path: ^/user/login$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/user/logout$, roles: ROLE_USER }
        - { path: ^/user/profil$, roles: ROLE_USER }
        - { path: ^/user/update$, roles: ROLE_USER }
        - { path: ^/user/delete$, roles: ROLE_USER }
        - { path: ^/file/show, roles: ROLE_USER }
        - { path: ^/file/upload, roles: ROLE_USER }
