{% extends "base.html.twig" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col=12 mt-3">
            <div class="jumbotron ">
                <h1 class="display-4">Bienvenue sur Clouedo</h1>
                <p class="lead">Un moyen simple et gratuit de stocker ses fichiers</p>
                <hr class="my-4">
                <p>Commencer par créer un compte pour utiliser la plateforme</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{ path('app_inscription') }}" role="button">Créer un compte</a>
                </p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


