{% extends "base.html.twig" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-3">
            <div class="jumbotron ">
                <h1 class="display-4" style="text-align: center">Bienvenue sur Clouedo</h1>
                <p class="lead" style="text-align: center">Un moyen simple et gratuit de stocker ses fichiers</p>
                <hr class="my-4" style="text-align: center">
                <p style="text-align: center">Commencer par créer un compte pour utiliser la plateforme</p>
                <p class="lead" style="text-align: center">
                    <a class="btn btn-primary btn-lg" href="{{ path('app_signup') }}" role="button">Créer un compte</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}


