{% extends "base.html.twig" %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-3">
            <div class="jumbotron ">
                <h1 class="display-4" style="text-align: center">Espace partagés</h1>
                <p class="lead" style="text-align: center">Partagez votre espace avec vos amis</p>
                <hr class="my-4" style="text-align: center">
                <p style="text-align: center">Vous pouvez consultez les dossiers que l'on partage avec vous, ceux que vous partagez ou créer une relation avec un dossier d'un ami</p>
                <p class="lead" style="text-align: center">
                    <a class="btn btn-primary btn-lg" href="{{ path('app_share_show_main') }}" role="button">Qui peux accéder à mon espace ?</a>
                    <a class="btn btn-primary btn-lg" href="{{ path('app_share_show_second') }}" role="button">A quelle espace ai-je accès ?</a>
                    <a class="btn btn-primary btn-lg" href="{{ path('app_create_share') }}" role="button">Créer une relation</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}


