{% block body %}
    <div>Voici la réponse de la part de {{ user.pseudo }} pour votre message concernant le sujet suivant :</div>
    <br>
    <div style="font-weight: bold">{{ contact.title }}</div>
    <br>
    <div>{{ message }}</div>
{% endblock %}
